body, html{
    margin: 0;
    padding: 0;
    background-image: url('img/nakano3.jpg');
    position: relative;
    z-index: 100;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}
.container div{
    display: flex;
    justify-content: center;
    align-items: center;
    width:  450px;
    height: 100vh;
    background-color: rgba(252, 252, 252,1);
    flex-direction: column;
}
.container .satu h1{
   position: absolute;
   z-index: 10;
   top: 20px;
   font-size: 50px;
}

.container .dua{
    position: absolute;
    margin-bottom: 300px;
}
 .container .dua img{
    border-radius: 50%;
    width: 300px;
 }
.container .tiga h1{
    position: absolute;
    margin-top: 350px;
} 
 .container .empat button{
    position: absolute;
    width: 100px;
    margin-top: 0px;
 }
 .container .lima{
    display: flex;
    flex-wrap: wrap;
}
 .container .lima h3{
    text-align: center;
    margin-top: -100px;
    z-index: 1000;
} 
@media only screen and (max-width: 600px) {
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: beige;
        flex-direction: column;
    }
    .container div{
        display: flex;
        justify-content: center;
        align-items: center;
        width:  390px;
        height: 100vh;
        background-color:rgba(white, white, white, 0.5) ;
        flex-direction: column;
    }
    .container .satu h1{
       position: absolute;
       z-index: 10;
       top: 25px;
       font-size: 50px;
    }
    
    .container .dua{
        position: absolute;
        margin-bottom: 150px;
    }
     .container .dua img{
        border-radius: 50%;
        width: 280px;
     }
    .container .tiga h1{
        position: absolute;
        margin-top: 400px;
       
    } 
     .container .empat button{
        position: absolute;
        width: 100px;
        margin-top: 150px;
     }
     
    .container .lima h3{
        position: absolute;
        margin-top: 50px;
        text-align: center;
    } 
}

 